//@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');


body{
    margin: 0;
    height: 100%;
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: black;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/bg.png) repeat 0 0;
    z-index: 0;
    -webkit-animation: slide 180s linear infinite;
}
.starts{
    width: 100%;
    height: 100%;
    position: absolute;
    background:transparent url(../img/stars_bg.png) repeat 0 0;
    z-index: 0;
    -webkit-animation: stars_slide 60s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 -1920px ; }
}
@-webkit-keyframes stars_slide {
    from { background-position: 0 0; }
    to { background-position: -900px 0 ; }
}


.wrapper{
    z-index: 1;
    position: absolute;
    display: grid;
    grid-template-rows: 140px auto 90px;
    height: 100%;
}
.logo{
    grid-row: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.planets{
    grid-row:2;
    display: grid;
    grid-template-columns: 14% 3% 6.5% 7% 6% 13.5% 13% 8% 7% 3%; 
    grid-gap: 2%;
    position: relative;
 
}
.planet{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img{
        width:100%;
        height: auto;
    }
    a.planet_link{
        position: relative;
        color:#fff;
        text-decoration: none;
        .planet_name{
            transition: all 250ms ease-out;
            top: 0;
            opacity: 0;
            font-size: 30px;
            text-align: center;
            left: 50%;
            transform: translate(-50%,0);
            position: absolute;
    }
    .planet_img{transition: all 150ms ease-out;}

        &:hover {
            animation-play-state:paused;
            .planet_img{
                transform: scale(0.9);
            }
            .planet_name{
                top: -50px;
                opacity: 1;
            }
        }
    }
}

.Mercury a.planet_link{animation: MoveUpDown 2.5s ease-in-out infinite;}
.Venus a.planet_link{animation: MoveUpDown 4s ease-in-out infinite;}
.Earth a.planet_link{animation: MoveUpDown 2.8s ease-in-out infinite;}
.Mars a.planet_link{animation: MoveUpDown 3.5s ease-in-out infinite;}
.Jupiter a.planet_link{animation: MoveUpDown 4s ease-in-out infinite;}
.Saturn a.planet_link{animation: MoveUpDown 3s ease-in-out infinite;}
.Uranus a.planet_link{animation: MoveUpDown 2.5s ease-in-out infinite;}
.Neptune a.planet_link{animation: MoveUpDown 3s ease-in-out infinite;}
.pluto a.planet_link{animation: MoveUpDown 4s ease-in-out infinite;}
      

@keyframes MoveUpDown {
0%, 100% {
    padding-bottom: 0;
}
50% {
    padding-bottom: 30px;
}
}


.sun .planet_img{
    overflow: hidden;
    transform: scale(1) !important;
    position: relative;
    img{
        float: right;
        width:200%;
    }}




.logo_wrapper {
    display: flex;
    align-items: center;
    
    a{color: #fff; text-decoration: none; padding-left:12px;display: block; font-size: 20px;}
    img{width: 50px; max-height: 100%;}
}

nav{
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
 background: -moz-linear-gradient(bottom, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
   a.nav_item{
   text-decoration: none;
    color:#fff;
    font-size: 20px;
    }
