@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Montserrat");
body {
  margin: 0;
  height: 100%;
  font-family: 'Annie Use Your Telescope', cursive;
  background-color: #48545b; }

h1 {
  font-family: 'Annie Use Your Telescope', cursive; }

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../img/bg.png) repeat 0 0;
  z-index: 0;
  -webkit-animation: slide 180s linear infinite; }

.starts {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url(../img/stars_bg.png) repeat 0 0;
  z-index: 0;
  -webkit-animation: stars_slide 60s linear infinite; }

@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 -1920px; } }
@-webkit-keyframes stars_slide {
  from {
    background-position: 0 0; }
  to {
    background-position: -900px 0; } }
.wrapper {
  z-index: 1;
  position: absolute;
  display: grid;
  grid-template-areas: 'logo title menu' 'planets planets planets';
  grid-template-rows: 150px auto;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.title {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  grid-area: title; }

.planets {
  grid-area: planets;
  display: grid;
  grid-template-columns: 14% 4% 6.5% 8% 6% 13.5% 14% 8% 7%;
  grid-gap: 2%;
  position: relative; }

.planet {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .planet img {
    width: 100%;
    height: auto; }
  .planet a.planet_link {
    position: relative;
    color: #fff;
    text-decoration: none; }
    .planet a.planet_link .planet_name {
      transition: all 250ms ease-out;
      top: 0;
      opacity: 0;
      font-size: 30px;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      max-height: 100%; }
    .planet a.planet_link .planet_img {
      transition: all 150ms ease-out; }
    .planet a.planet_link:hover {
      animation-play-state: paused; }
      .planet a.planet_link:hover .planet_img {
        transform: scale(0.9); }
      .planet a.planet_link:hover .planet_name {
        top: -50px;
        opacity: 1; }

.planet_txt {
  display: none;
  max-height: 100%;
  min-height: 100%;
  background: #fff url(../img/torn_paper.png) repeat-y 0 0;
  padding: 10px 30px 10px 60px;
  box-sizing: border-box;
  overflow-y: auto; }
  .planet_txt ul {
    padding: 0; }
    .planet_txt ul li {
      padding: 8px; }

.planet {
  transition: all; }
  .planet .planet_link {
    transition: all; }

@keyframes subpage {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1); } }
.planet:target {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #22282b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-animation: subpage .2s;
  box-sizing: content-box; }
  .planet:target .planet_txt {
    font-family: 'Montserrat', sans-serif;
    display: block; }
  .planet:target a.planet_link {
    padding: 0 50px 50px; }
    .planet:target a.planet_link .planet_name {
      opacity: 1;
      font-size: 70px;
      position: absolute;
      top: auto;
      bottom: -90px; }
    .planet:target a.planet_link .planet_img {
      transform: scale(1);
      text-align: center; }
      .planet:target a.planet_link .planet_img img {
        max-width: 320px; }

.sun:target .planet_img img {
  float: none;
  width: 100%; }

ul.icons {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 50% 50%;
  font-size: 20px;
  margin-bottom: 45px;
  /* li:hover{
      .icon_title{opacity: 1; height: auto}
  } */ }
  ul.icons li {
    display: flex;
    padding: 0;
    align-items: center; }
  ul.icons .icon_title {
    display: block;
    font-size: 16px;
    color: #48545b;
    /* opacity: 0; 
    height: 0; */
    overflow: hidden;
    transition: all 200ms ease; }
  ul.icons .icon_img {
    padding-right: 12px; }
    ul.icons .icon_img img {
      width: 50px; }

.backbtn {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  padding: 30px;
  transition: transform 100ms ease; }
  .backbtn img {
    width: 34px; }
  .backbtn:hover {
    transform: scale(1.2); }

.Mercury a.planet_link {
  animation: MoveUpDown 2.5s ease-in-out infinite; }

.Venus a.planet_link {
  animation: MoveUpDown 4s ease-in-out infinite; }

.Earth a.planet_link {
  animation: MoveUpDown 2.8s ease-in-out infinite; }

.Mars a.planet_link {
  animation: MoveUpDown 3.5s ease-in-out infinite; }

.Jupiter a.planet_link {
  animation: MoveUpDown 4s ease-in-out infinite; }

.Saturn a.planet_link {
  animation: MoveUpDown 3s ease-in-out infinite; }

.Uranus a.planet_link {
  animation: MoveUpDown 2.5s ease-in-out infinite; }

.Neptune a.planet_link {
  animation: MoveUpDown 3s ease-in-out infinite; }

.pluto a.planet_link {
  animation: MoveUpDown 4s ease-in-out infinite; }

@keyframes MoveUpDown {
  0%, 100% {
    padding-bottom: 0; }
  50% {
    padding-bottom: 30px; } }
.sun .planet_img {
  overflow: hidden;
  transform: scale(1) !important;
  position: relative; }
  .sun .planet_img img {
    float: right;
    width: 200%; }

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding-left: 20px; }
  .logo a {
    color: #fff;
    text-decoration: none;
    padding-left: 12px;
    display: flex;
    font-size: 28px;
    align-items: center; }
  .logo img {
    width: 50px;
    max-height: 100%;
    margin-right: 10px; }

nav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(34, 40, 43, 0.85); }
  nav a.nav_item {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    padding: 5px; }
  nav a.closeNav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 30px;
    background: #22282b; }

.nav_wrapper {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 0; }

nav:target {
  display: flex; }
  nav:target .members {
    display: flex;
    color: #fff;
    font-size: 14px; }
    nav:target .members .member_title {
      font-size: 14px;
      padding: 0 0 15px 0;
      text-align: center;
      color: #d78f7b; }
    nav:target .members .member_name {
      text-align: center;
      font-size: 18px;
      padding: 15px 0 0 0; }
    nav:target .members .quote {
      margin-bottom: 20px; }
    nav:target .members .member_img img {
      border-radius: 50%;
      width: 200px;
      height: 200px; }

.member_item {
  max-width: 200px;
  margin: 20px;
  padding: 20px;
  background-color: #22282b;
  font-family: 'Montserrat', sans-serif; }

.email img, .mob img {
  width: 20px;
  max-height: 20px; }

.mob, .email {
  text-align: left;
  margin: 10px 0; }
  .mob a, .email a {
    color: #fff; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-height: 670px) {
  .wrapper {
    grid-template-rows: 100px auto; } }
@media only screen and (max-width: 1024px) {
  .wrapper {
    position: relative;
    overflow: unset;
    grid-template-areas: 'logo title menu' 'title title title' 'planets planets planets';
    grid-template-rows: 80px 300px auto; }

  .planets {
    grid-template-rows: repeat(9, auto);
    grid-template-columns: auto;
    grid-gap: 80px;
    margin-bottom: 80px;
    padding: 0 25px; }

  .sun .planet_img {
    overflow: unset; }
    .sun .planet_img img {
      float: none;
      width: 100%; }

  .planet {
    max-width: 400px;
    margin: 0 auto; }
    .planet a.planet_link {
      animation: none; }
      .planet a.planet_link .planet_name {
        position: relative;
        opacity: 1;
        font-size: 47px; }
      .planet a.planet_link .planet_img {
        margin-top: 30px; }
      .planet a.planet_link:hover .planet_name {
        top: 0; }
      .planet a.planet_link:hover .planet_img {
        transform: scale(1); }

  .Mercury {
    max-width: 175px; }

  .Venus {
    max-width: 315px; }

  .Earth {
    max-width: 350px; }

  .Mars {
    max-width: 300px; }

  .Uranus {
    max-width: 350px; }

  .Neptune {
    max-width: 325px; }

  .planet:target {
    position: fixed;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    -webkit-animation: subpage .2s;
    overflow-y: auto;
    background-color: #48545b; }
    .planet:target .planet_txt {
      padding: 10px 15px;
      max-height: auto;
      min-height: auto;
      overflow-y: unset;
      background-image: none;
      padding-bottom: 25px; }
    .planet:target a.planet_link .planet_name {
      z-index: 2;
      text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 1px;
      font-size: 70px;
      top: auto;
      bottom: 45%; }
    .planet:target a.planet_link .planet_img {
      transform: scale(0.9); }
      .planet:target a.planet_link .planet_img img {
        max-width: 400px; }

  ul.icons {
    grid-template-columns: auto; }
    ul.icons .icon_title {
      opacity: 1;
      height: auto; }

  .members {
    flex-direction: column; }

  nav:target {
    justify-content: flex-start;
    position: fixed;
    overflow: auto; } }

/*# sourceMappingURL=style.css.map */
